# Reference:
#   - https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/keeping-your-actions-up-to-date-with-dependabot

version: 2
updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every weekday
      interval: "daily"
    groups:
      gha:
        patterns:
          - "*"
    labels:
      - "New: Pull Request"
      - "Bot"
    commit-message:
      prefix: "chore: "
      include: "scope"

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
    groups:
      pip:
        patterns:
          - "*"
    labels:
      - "New: Pull Request"
      - "Bot"
    commit-message:
      prefix: "chore: "
      include: "scope"
