exclude .cirrus.yml
exclude .coveragerc
exclude .flake8
prune .github
exclude .gitignore
exclude .pre-commit-config.yaml
exclude .readthedocs.yml
include CHANGELOG.md
include CITATION.cff
prune benchmarks
exclude codecov.yml
prune docs
recursive-include src *.py *.txt
recursive-exclude src *.nc
exclude noxfile.py
prune requirements
